<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <style>

        #main-catalog {
            max-width: 400px;
            height: 900px;
            overflow-x: scroll;
            overflow-y: scroll;
            background-color: rgb(227,225,225)
        }

        #main-content {
            min-height: 300px;
        }

        .catalog-group {
            list-style: none;
            text-align: left;
            padding: 0;
        }

        .catalog-item {
            list-style: none;
        }


    </style>

    <title>admin index</title>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div id="main-catalog" class="col-2"></div>
        <div id="main-content" class="col-10">内容</div>
    </div>
</div>

<script src="/static/jquery/jquery-3.7.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
<script>
    function generateCatalogNode(data, left) {
        var html = '<ul class="catalog-group">'
        $.each(data, function(index, catalog) {
            html += '<li class="catalog-item">'
            const randomId = crypto.randomUUID();
            html += `<div id="${randomId}" marginLeft="${left}" style="margin-left: ${left}px" onclick="btnAction('${randomId}', '${left}')">${catalog.name}</div>`
            html += '</li>'
        });
        html += '</ul>'

        return html;
    }


    $(document).ready(function(){
        $.ajax({
            url: "/api/catalog/0",
            dataType: "json",
            async: true,
            data: '',
            type: "GET",
            beforeSend:function(){

            },
            success:function(data, status){
                const html = generateCatalogNode(data, 0);
                $("#main-catalog").html(html)
            },
            complete:function(){

            },
            error:function(){

            }
        });

    });

    function btnAction(id, left) {
        console.log(id)
        console.log(left)


        $.ajax({
            url: "/api/catalog/" + id,
            dataType: "json",
            async: true,
            data: '',
            type: "GET",
            beforeSend:function(){

            },
            success:function(data, status){
                console.log(data)
                const html = generateCatalogNode(data, parseInt(left) + 10);
                $("#" + id).after(html)
            },
            complete:function(){

            },
            error:function(){

            }
        });





    }

</script>





</body>
</html>